p{
    color:grey;
    font-size: 18px;
    font-family: avenir, sans-serif;
    font-weight: normal;
    text-align: justify;
}

div{
    width:95vw;
    margin: 10px auto;
    background-color:azure;
    border: 2em solid lightblue;
    padding: 3em;
    border-radius: 5em;
}

body{
    background-color: skyblue;
}

header{
    color: brown;
    font-family:avenir, sans-serif;
    font-size: 32px;
    line-height: 1.0;
    font-weight: 500;
}

.english>header{
    text-align: left;
}

.spanish>header{
    text-align: right;
}

h3{
    font-style: italic;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0cap;
}

figure{
    width: 90%;
    margin: 0 auto;
    opacity: 95%;
    position:relative;
}

figure img {
    display: block;
    width: 100%;
    height: auto;
}

figure:hover{
    opacity: 100%;
    filter:contrast(130%);
    transform: scale(1.2);
    position: inherit;
    z-index: 3;
    top: 0;
    left: 0;
    transition: 0.3s;
    box-shadow: 15px 15px 50px black;
}

footer p{
    text-align: right;
    font-size: 14px;
    color: darkblue;
}

span{
    font-style: italic;
    font-weight: bold;
    color:brown
}

p em{
    color: ;
    font-size: 24px;
    font-weight: 600;
    color: rgb(115, 145, 62);
}

/*not working, trying to figure it out*/
.first::first-letter{
    font-size: 2em;
    float: initial;
    margin-right: auto;
    line-height:normal;
    color:darkgreen;
}

/*box styles*/
* {
    box-sizing: border-box;
    }