* {
    margin: 8;
    padding: 8;
    box-sizing: border-box;
    }

html,
body{
    height: 100%;
}

body{
    font-family: 'Avenir', sans-serif;
    min-height: 100vh;
    background-color: #01001e;
    line-height: 1.5;
}
  
main {
    padding: 25px;
    border: 20px solid rgb(0, 104, 127);
    border-radius: 20px;
}

header,footer{
    padding: 25px;
    border:10px
}

  h1 {
    color:lightblue;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  h3 {
    color:lightcyan;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    margin-top: 0;
  }
  
  figure {
    display: block;
    margin: 10 auto;
    text-align: center;
  }
  
  figure img {
    width: 100%;
    height: auto;
    max-width: 600px;
    border: 5px solid #0f00936c;
    border-radius: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:lightgrey;
  }
  
  p em {
    color: lightgoldenrodyellow;
    font-style: italic;
    font-weight: bold;
  }

  .spanish{
    font-style: italic
  }

  .footer{
    text-align: right;
  }

  div {
    width: 80%;
    background: lemonchiffon;
    }

