/*wepage layout*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height:100%
}

body{
    background-color: palegoldenrod;
    min-height: 100vh;
}

main,header,footer{
    padding: 20px;
    border:1px solid black;
    color: #141414;
}

header,
footer{
    height: 20vh;
}

main{
    height: 60vh;
}

/*invitation layout*/
.invite-container{
    padding: 20px;
}

.section{
    padding-bottom: 20px;
}

.light{
    color: lightgrey;
}

.dark{
    font-weight: bold;
}

.big{
    font-size: 24px;
}

.small{
    font-size: 12px;
}